body {
    background: #EED;
    color: #000;
}

table {
	border: solid 1px;
	border-collapse: collapse;

}
table th {
	font-weight: bold;
}

td, th {
	padding: .1em .6em;
}

.navheader table, .navfooter table {
	border: none;
}

.navheader, .navfooter {
 	background: #171;
	border-color: #e94;
}
.navheader {
	border-bottom-style: solid;
	color: #fb6;
}
.navfooter {
	border-top-style: solid;
}
.navheader a:link, .navfooter a:link, .navheader a:visited, .navfooter a:visited {
	color: #FFC;
}

div.toc span a {
	color: #321;
}

div.toc span.sect1 a {
	font-weight: bold;
	color: #F60;
}

h1, h2, h3, h4 {
        font-family: serif;
        font-weight: bold;
//        padding-left: 0.8em;
}

p.newline {
    margin: 0;
    padding: 0;
}

div.titlepage h2, div.titlepage h3 {
//        background: #CCB;
//        border: 1px solid #333;
//        border-bottom: 3px solid #363;
        color: #040;
        padding-top: 3px;
        padding-bottom: 3px;
}

div.section {
//    padding-left: 1.5em;
}

div.figure, div.table {
    text-align: center;
    margin: 2em 5em;
    padding: .7em;
    border: dotted;
    border-width: 1px;
}

div.table table {
	margin: auto;
}

div.table table, div.figure img {
	margin-bottom: 1em;
}

pre.programlisting {
	border: solid;
}

img {
    border: 0;
}

div.note, div.caution, div.important, div.tip, div.warning {
    margin-top: 1em;
    margin-bottom: 1em;
}
div.note table, div.caution table, div.important table, div.tip table, div.warning table {
    background: #FFC;
}

.center {
    text-align: center;
}
