body {
    background: #fff;
}

.navheader, .navfooter {
 	background: #ddd;
	border-color: #fff;
}
.navheader {
	border-bottom-style: solid;
	color: #000;
}
.navfooter {
	border-top-style: solid;
}
.navheader a:link, .navfooter a:link, .navheader a:visited, .navfooter a:visited {
	color: #000;
}

div.titlepage h2, div.titlepage h3 {
        background: #eee;
}

div.note table, div.caution table, div.important table, div.tip table, div.warning table {
    background: #FFe;
}
